<h5>商品詳細</h5>
<table>
<thead>
  <tr>
    <th><%= image_tag @item.get_item_image(300,300) %></th><br>
    <th>商品名</th><br>
    <th>商品説明</th><br>
    <th>ジャンル</th><br>
    <th>税込価格（税抜価格）</th><br>
    <th>商品ステータス</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @item.name %></td><br>
    <td><%= @item.introduction %></td><br>
    <td><%= @item.genre.name %></td><br>
    <td><%= number_with_delimiter(@item.with_tax_price, delimiter: ',') %>（<%= number_with_delimiter(@item.price, delimiter: ',') %>）円</td><br>
    <td>
      <% if @item.is_active == true %>
        <span class="text-success"><strong>販売中</strong></span>
      <% else %>
        <span class="text-muted"><strong>販売停止中</strong></span>
      <% end %>
    </td>
  </tr><br>
  <td><%= link_to "編集する", edit_admin_item_path, class: "btn btn-sm btn-success" %></td>
</tbody>
</table>