<%= render 'admin/genres/searth', genres: @genres %>

<%= image_tag 'pexels-cats-coming-1359330.jpg', size: '300x200' %>
<h5>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</h5>
<table>
<thead>
  <h4><strong>新着商品</strong></h4>
  <% @items.each do |item| %>
    <tr>
      <th>
        <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image(100,100) %>
        <% end %>
      </th>
      <th><%= item.name %></<th>
      <th>¥<%= item.with_tax_price%></th>
    </tr>
  <% end %>
  </thead>
</table>
<%= link_to "全ての商品を見る>", items_path %>

