<h2>注文履歴詳細</h2>

<div class="container">
  <table>
    <tr>
      <th>購入者</th>
      <th><%= @order.public.name %></th>
    </tr>
    <tr>
      <th>注文日</th>
      <th><%= @order.created_at.strftime("%Y/%m/%d") %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th><%= @order.address %></p></th>
    </tr>
    <tr>
      <th>支払い方法</th>
      <th><%= @order.payment_method_i18n %></th>
    </tr>
    <tr>
      <th>注文ステータス</th>
    </tr>
  </table>
  

  <table class="table">
    <thead class="table-light">
      <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      </tr>
    </thead>
    <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.amount * order_detail.item.price %></td>
          
        </tr>
      <% end %>
    
  </table>
  
   <table class="table">
      <tr>
        <td>商品合計</td>
        <td><%= @order.total_price %></td>
      </tr>
      <tr>
        <td>送料</td>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <td>請求金額合計</td>
        <td><%= @order.total_price + @order.shipping_cost %></td>
      </tr>
    </table>
 
  
</div>

    