<h2>注文履歴詳細</h2>

<div class="container">
  <div class = "row">
    <div class = "col-md-12">
  <div class = "row">
    <div class = "col-md-5">
  <table>
    <tbody>
    <tr>
      <th class = "col-2">購入者</th>
      <th class = "col-3"><%= @order.public.last_name %> <%= @order.public.first_name %></th>
    </tr>
    <tr>
      <th class = "col-2">注文日</th>
      <th class = "col-3"><%= @order.created_at.strftime("%Y/%m/%d") %></th>
    </tr>
    <tr>
      <th class = "col-2">配送先</th>
      <th class = "col-3"><%= @order.address %></p></th>
    </tr>
    <tr>
      <th class = "col-2">支払い方法</th>
      <th class = "col-3"><%= @order.payment_method_i18n %></th>
    </tr>
    <tr>
      <th class = "col-2">注文ステータス</th>
      <th class = "col-3">
        <%= form_with(model: @order, url: admin_order_path, method: :patch, local: true, class: "form-row") do |f| %>
          <%= f.select :status, Order.statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6" %>
          <%= f.submit "更新" %>
        <% end %>
      </th>
    </tr>
    </tbody>
  </table>
  </div>
  </div>
  <table class="table">
    <thead class="table-light">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </thead>
    <% @order_details.each do |order_detail| %>
    <tbody>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= number_with_delimiter((order_detail.item.price * 1.1).to_i, delimiter: ',') %></td>
        <td><%= order_detail.amount %></td>
        <td><%= number_with_delimiter((order_detail.amount * order_detail.item.price * 1.1).to_i, delimiter: ',') %></td>
        <td>
          <%= form_with(model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: true, class: "form-row") do |f| %>
            <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6" %>
            <%= f.submit "更新" %>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class = "row">
    <div class = "col-md-3">
  <table class="table">
    <tbody>
      <tr>
        <td>商品合計</td>
        <% sum = @order.order_details.sum { |order_detail| (order_detail.amount * order_detail.item.price * 1.1).floor.to_i } %>
        <td>¥<%= number_with_delimiter(sum, delimiter: ',') %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td>¥<%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <td>ご請求額</td>
      <td>¥<%= number_with_delimiter(sum + @order.shipping_cost, delimiter: ',') %></td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
</div>

<script>
  $(document).on('change', '.name', function() {
    var selectedGenreId = $(this).val();
    $('.genre_id').val(selectedGenreId);
  });
</script>


