<h2>注文履歴詳細</h2>

<div class="container">
  <table>
    <tr>
      <th>購入者</th>
      <th><%= @order.public.name %></th>
    </tr>
    <tr>
      <th>注文日</th>
      <th><%= @order.created_at.strftime("%Y/%m/%d") %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th><%= @order.address %></p></th>
    </tr>
    <tr>
      <th>支払い方法</th>
      <th><%= @order.payment_method_i18n %></th>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <th>
        <%= form_with(model: @order, url: admins_order_path, local: true, class: "form-row") do |f| %>
          <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false}, class:"form-control form-control-sm col-6"  %>
          <%= f.submit "更新" %>
        <% end %>
      </th>
    </tr>
  </table>

  <table class="table">
    <thead class="table-light">
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </thead>

  </table>

</div>

