<div class="container p-3">
  <div class="row">
    <div class="col-md-12">

      <h4 class="address"><strong>配送先登録</strong> <i class="fa-solid fa-address-card"></i></h4>
      <%= form_with model: @address, url: public_addresses_path do |f| %>
      <h5 class="address">郵便番号(ハイフンなし)</h5>
      <%= f.text_field :postal_code %>
      <h5 class="address">住所</h5>
      <%= f.text_field :address %>
      <h5 class="address">宛名</h5>
      <%= f.text_field :name %>
      <%= f.submit '新規登録', class: "address"%>
      <% end %>

      <div style="margin-top: 20px;"></div>
      <h4 class="address"><strong>配送先一覧</strong> <i class="fa-solid fa-address-book"></i></h4>
      <table class="table">
        <thead>
          <tr>
            <th class="address">郵便番号</th>
            <th class="address">住所</th>
            <th class="address">宛名</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td>
                <span><%= address.postal_code %></span>
              </td>
              <td>
                <span><%= address.address %></span>
              </td>
              <td>
                <span><%= address.name %></span>
              </td>
              <td>
                <span class="address">
                  <%= link_to "編集する", edit_public_address_path(address.id) %>
                </span>
              </td>
              <td>
                <span class="address">
                  <%= link_to "削除する", public_address_path(address.id), method: :delete %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>