<% flash.each do |key, value| %>
  <div class="flash <%= key %>">
    <%= value %>
  </div>
<% end %>
<div class = "container px-5 px-sm-0 address">
  <div class = "row justify-content-center">
    <div class = "col-md-10">
    <h5><strong>ショッピングカート</strong> <i class="fa-solid fa-cart-shopping"></i></h5>
      <div class = "text-right">
        <%= link_to "カートを空にする",destroy_all_cart_items_path, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
      <table class = "table table-bordered mt-3">
        <thead>
          <tr>
            <th scope = "col">商品名</th>
            <th scope = "col">単価(税込)</th>
            <th scope = "col">数量</th>
            <th scope = "col">小計</th>
            <th scope = "col"></th>
          </tr>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <th style = "vertical-align: middle;"><%= image_tag cart_item.item.get_item_image(50,50) %> <%= cart_item.item.name %></th>
            <th style = "vertical-align: middle;"><%= number_with_delimiter(cart_item.item.with_tax_price, delimiter: ',') %></th>
            <th style = "vertical-align: middle;">
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id) do |f| %>
                <%= f.select :amount, (1..10) %>
                <%= f.submit "変更", class: "btn  btn-sm btn-success" %>
              <% end %>
            </th>
            <th style = "vertical-align: middle;"><%= number_with_delimiter(cart_item.subtotal, delimiter: ',') %></th>
                <% @total = @total + cart_item.subtotal %>
            <th class = "text-center" style="vertical-align: middle;"><%= link_to "削除する",cart_item_path(cart_item.id), method: :delete, class: "btn btn-sm btn-danger" %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class = "container px-5 px-sm-0">
    <div class = "row justify-content-center">
      <div class = "col-md-10">
        <div class = "row justify-content-end">
          <div class = "col-md-7 offset-md-1">
            <th><%= link_to "買い物を続ける", root_path, class: "btn btn-sm btn-primary" %></th>
          </div>
          <div class = "col-md-4">
            <table class = "table table-bordered">
              <thead>
                <tr style = "display: flex;">
                  <th style = "width: 40%; flex: 1;">合計金額</th>
                  <th style = "width: 60%; flex: 1;"><%= number_with_delimiter(@total, delimiter: ',') %></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "text text-center mt-3">
    <% if @cart_items.empty? %>
      <th></th>
    <% else %>
      <th>
        <%= link_to "入力画面に進む",new_order_path, class: "btn btn-success" %>
      </th>
    <% end %>
  </div>
</div>