<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <%= render 'admin/genres/searth', genres: @genres %>
    </div>
    <div class="col-md-3">
      <%= image_tag @item.get_item_image(250,250) %>
    </div>
    <div class="col-md-6 mt-4">
      <h4><strong><%= @item.name %></strong></h4>
      <h5><%= @item.introduction %></h5>
      <br>
      <h4>
        ¥<%= number_with_delimiter(@item.with_tax_price, delimiter: ',') %>
        <span style="font-size: 50%;">(税込)</span>
      </h4>
      <br>
      <% if signed_in? && @item.is_active == true %>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, ('1'..'10').to_a, include_blank: '個数選択' %>
          <%= f.submit "カートに入れる", class: "btn btn-sm btn-success" %>
        <% end %>
      <% elsif @item.is_active == false %>
        <strong>販売停止中</strong>
      <% end %>
    </div>
  </div>
</div>